

body{
    background: linear-gradient(45deg, #f0a0ad,pink,#f0a0ad);
    margin: 10px auto;
padding: 10px;
font-family: 'Caveat', cursive;
}

main{
    background-color: white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    min-width: 300px;
    max-width: 600px;
    border-radius: 10px;
    margin:0 auto;
    filter: drop-shadow(1px 1px 2px #00000050);
}

main>h1,h2{
    text-align: center;
    color: #ec3737;
    
    margin:0 auto;
    
    border-radius: 10px;
}

p{
    font-size: 1.5em;
}